:root {

  /**
   * colors
   */

  --raw-seinna: #bcb8b1;
  --sizzling-sunrise: hsl(51, 95%, 54%);
  --scarlet: hsl(13, 96%, 47%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --blue: #acbabf;

  /**
   * typography
   */

  --ff-saira-stencil-one: "Saira Stencil One", sans-serif; 
  --ff-poppins: 'Poppins', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  --fs-1: 2rem;
  --fs-2: calc(1.813rem + 1vw);
  --fs-3: calc(1.313rem + 1vw);
  --fs-4: 1.4rem;
  --fs-5: 1rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 80px;

  --footer-padding: 20px;

  /**
   * radius
   */

  --radius-4: 4px;
  --radius-12: 12px;

}

.w-100 { width: 100%; }



/*-----------------------------------*\
 * #THEME COLORS
\*-----------------------------------*/

body.dark_theme {

  --bg-primary: hsl(0, 0%, 12%);
  --bg-secondary: hsl(0, 0%, 19%);
  --color-primary: #828385;
  --color-secondary: hsl(0, 0%, 62%);
  --card-shadow: hsla(0, 0%, 0%, 0.4);
  --input-bg: hsl(0, 0%, 16%);

  --shadow-1: 10px 10px 40px var(--card-shadow);

}

body.light_theme {

  --bg-primary: hsl(0, 0%, 90%);
  --bg-secondary: hsl(0, 0%, 100%);
  --color-primary: hsl(0, 0%, 12%);
  --color-secondary: hsl(0, 0%, 37%);
  --card-shadow: hsla(0, 0%, 0%, 0.1);
  --input-bg: hsl(0, 0%, 93%);

  --shadow-1: 10px 10px 40px var(--card-shadow);

}




/*-----------------------------------*\
 * #All HTML
 color: #373737;
\*-----------------------------------*/



*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
li { list-style: none; }
  
a { text-decoration: none; 
  color: var(--color-primary);
}

a,
img,
time,
span,
input,
label,
select,
button,
textarea,
ion-icon { display: block; }




html {
  font-family: var(--ff-roboto);
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  transition: var(--transition-1);
}

.h2,
  .h3,
  .h4, label, h3, .orange {
    color: var(--color-primary);
    font-family: var(--ff-poppins);
    line-height: 1.2;
  }



/*-----------------------------------*\
 * #THEME COLORS
\*-----------------------------------*/

header{
  padding-block: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

header.active {
  padding-block: 12px;
  background: var(--bg-secondary);
  box-shadow: var(--shadow-1);
}



.header.on {
  padding-block: 12px;
  background: var(--bg-secondary);
  box-shadow: var(--shadow-1);
}


.small-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #acbabf;
  padding: 20px;
  border-radius: 50%;
  flex-wrap: wrap;
  overflow: hidden;
}

.nav{
  padding-inline: 50px;
  overflow: hidden;
}


.nav ul{
  display: flex;
  gap: 20px;

}

.navbar-link {
  position: relative;
  width: max-content;
  margin-inline: auto;
  font-family: var(--ff-poppins);
  font-size: var(--fs-1);
  padding: 10px;
  
}

.navbar-link:hover {
  color: whitesmoke;
}



h1 {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

h1 { font-size: var(--fs-2); }


/*-----------------------------------*\
 * #Main
 .navbar-link:hover {
  border-bottom: 3px solid #acbabf;
}

  background-image: url('background.jpeg');
\*-----------------------------------*/
main{
  overflow-x: hidden;
}

.welcome-section{ padding-block: var(--section-padding); }

.welcome-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
  margin-bottom: var(--section-padding);

  background-position: 50% 0;
}

.welcome{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width:  450px;
  

}

.welcome{
  text-align: center;
  padding-inline: 20px;
  font-size: 30px;
}

.welcome h2{
  margin-bottom: 5px;

}

.wel{
  z-index: -3;
  -webkit-animation-name: test;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

}




/* ----------------------------------------------
 * Generated by Animista on 2024-3-12 21:58:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 .wel:hover{

  -webkit-animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both;
color: #acbabf;}
 * ---------------------------------------------- */

 @keyframes test {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateZ(0);
    opacity: 1;
  }

  30%{
    transform: translateZ(0);
    opacity: 1;
  }

  40%{
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes test2 {

  0%{
    transform: translateY(42px);
  }

  25%{
    transform: translateY(0);
    }

    50%{
      
  transform: translateY(-2.1rem); 
      }
      75%{
        transform: translateY(0);
        }

        100%{
          transform: translateY(42px);
        }
  
}

.welcome p{
  margin-bottom: 35px;
}

.welcome h2, p {
  color: #565656;
}



button {
  cursor: pointer;
  outline: none;
    &.outline {
        position: relative;
        z-index: -3;
        background: transparent;
        color: #1172c4;
        font-size: 14px;
        border-color: #1172c4;
        border-style: solid;
        border-width: 2px;
        border-radius: 22px;
        padding: 10px 40px;
        text-transform: uppercase;
        transition: all 0.2s linear;
    } 
    &.purple-white {
        font-weight: 700;
        color: #91b1bd;
        border-color: #acbabf;
        background: transparent;
    }
    &.purple-white:hover {
        color: white;
        background: #91b1bd;
        border-color: #acbabf;
    }
}




/*-----------------------------------*\
 * #Section 2
\*-----------------------------------*/

.stats { padding-block: var(--section-padding); }

.stats-list{
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  flex-wrap: wrap;
}

.stat-container{
  background-color: #acbabf;
  border-radius: 20px;
  padding: 25px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
}

.circle{
  background: var(--raw-seinna);
  width: 60px;
  height: 60px;
  place-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.stats-list > li{
  z-index: -3;
  -webkit-animation-name: test2;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.stats-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.stat-container:is(:hover, :focus) { transform: translateY(-5px); }

 /*-----------------------------------*\
   * #ABOUT
  \*-----------------------------------*/


.about-title{
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 1.5px solid #acbabf;
  color:hsl(0, 0%, 62%);
}

.about-title:nth-last-child(-n+2){
  border-bottom: 1.5px solid #282623;
}

.about { padding-block: var(--section-padding); }



.div2 img{
  height: 100%;
  width: 100%;
  object-fit: contain;

}



.hire{
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;

}

.hire > button{
  margin: 10px 30px 0 30px;
}

.hire > a{
  z-index: -3;
}

/*-----------------------------------*\
   * #SKILLS
  \*-----------------------------------*/

.skills { padding-block: var(--section-padding); }

.skills-list{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
  grid-auto-rows: minmax(50px, auto)
}

.skill-box{

  background-color: #acbabf;
    background: #acbabf;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -3;
}
.skill-box > img{
  height: auto;
  width: 100%;
  object-fit: contain;

}
.roll{-webkit-animation:roll-in-right .6s ease-out both;animation:roll-in-right .6s ease-out both}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-12 21:42:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes roll-in-right{0%{-webkit-transform:translateX(800px) rotate(540deg);transform:translateX(800px) rotate(540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-right{0%{-webkit-transform:translateX(800px) rotate(540deg);transform:translateX(800px) rotate(540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}

.toggle-switch {
  position: relative;
  width: 100px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}



/*-----------------------------------*\
   * #EXPERIENCE
   .experiences{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-auto-rows: minmax(50px, auto)
}
   \*grid-auto-rows: minmax(50px, auto);
   
  \*-----------------------------------*/

.experiences { padding-block: var(--section-padding); }




.experience-ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 50px;
}

.experience-ul > p{
  display: flex;
  flex-direction: column;
  background-color: #a0a1a4;
  color: white;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
  min-height: 135px;
}

.butt{
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  margin-top: 20px;
}

.prev, .next{
  width: 100px;
  height: 50px;
  font-size: 1em;
  border-radius: 20px;
  border: none;
  background-color: #a0a1a4;
}

.prev:hover, .next:hover{
  background-color: #acbabf;
  color: white;
}

/*-----------------------------------*\
   * #Contact
   .contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  grid-auto-rows: minmax(50px, auto);

}
  \*-----------------------------------*/


.contact { padding-block: var(--section-padding); }



.contact-info{
  background-color: #b9b8b6;
  border-radius: 20px;
  padding: 0 20px;
}



.contact-ul{
  display: flex;
  flex-direction: column;
}

.contact-li{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  
}



.social{
  display: flex;
  justify-content: center;
  align-items: center;
}




/*-----------------------------------*\
   * #Form
  \*-----------------------------------*/

  h2 {text-align: center;
  }
  
  /*Form*/
  .formstyle{
      background-color: rgba(27, 27, 50,0.5);
      color: #f5f6f7;
      width: 100%;
      text-align: left;
      border-radius: 20px;
  }
  
  /*remove the white border around the fieldset*/
  fieldset{border: none;}
  
  /*adjust the form*/
  form{
  width: 100%;
  padding: 0 20px;
  
  }
  
  
  
  /*input + textarea*/
  
  /*remove the box to under the text*/
  input, textarea{
    margin: 10px 0 0 0;
    width: 100%;
  }
  
  /* set background color for the box*/
  input, textarea {
    background-color: #acbabf;
    background: transparent;
    border: 1px solid #acbabf;
    color: #c0c0c2;
    min-height: 2em;
  
  }

  input:hover, textarea:hover{
    cursor: pointer;
    background-color: #acbabf;
    border: 1px solid #acbabf;
    color:#565656;
    min-height: 2em;
  }
  
  /*adjust the display, smaller the box, adjust the submit to center*/
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 50%;
    min-width: 200px;
    height: 0.25em;
    font-size: 1.2rem; /*color of button*/
    background-color: #a0a1a4;
    border-color: #acbabf; /*color of button's border*/
    border-radius: 20px;
    margin-top: 1em;
    cursor: pointer;
  }
  
  
  
  /*heading form*/
  

  
  
  
  /*modify how the label displaying and their margin left/right = 0.5, bottom/top = 0*/
  label{

    margin: 0.5rem 1rem;

  }



/*-----------------------------------*\
   * #Footer
  \*-----------------------------------*/

  .footer {
    background: var(--bg-secondary);
    padding-block: 20px;
    box-shadow: var(--shadow-1);
  }
  
  .footer .logo { margin-bottom: 15px; }
  
.container-b{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

  .copyright {
    color: var(--color-secondary);
    line-height: 1.6;
  }
  
  .copyright a {
    display: inline-block;
    color: var(--raw-seinna);
  }

  .container-bot{
    background-color: antiquewhite;
    background: #acbabf;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.contact-social{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  bottom: 0;
}





 /*-----------------------------------*\
   * #MEDIA QUERIES
   .orange{
  color: #828385;
}
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 550px screen
   */
@media only screen 
   and (width: 390px) 
   and (height: 844px) 
   and (-webkit-device-pixel-ratio: 3) { 
    .nav ul     { display: none; }
    .nav .nav-select { display: inline-block; }

    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .about , .skills, .experiences, .contact{
      margin: 0 20px;
    }

    .about{
      display: grid;
      grid-template-columns: repeat(auto, 2fr);
      gap: 20px;
      grid-auto-rows: minmax(100px, auto);
    
    }
    .hire{
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      margin-top: 50px;
    
    }
    .skills{
      display: grid;
      grid-template-columns: repeat(auto, 2fr);
      gap: 20px;
      grid-auto-rows: minmax(100px, auto);
    
    }

    .experiences{
      display: grid;
      grid-template-columns: repeat(auto, 1fr);
      gap: 50px;
      grid-auto-rows: minmax(50px, auto);
    
    }

    .contact-info{
      padding-top: 15px;
    }
    .contact{
      display: grid;
      grid-template-columns: repeat(auto,1fr);
      gap: 20px;
      grid-auto-rows: minmax(50px, auto);
    
    }
   }

@media only screen 
   and (width: 768px) 
   and (height: 1024px) 
   and (-webkit-device-pixel-ratio: 3) { 
    .nav ul{ display: none; }
    .nav .nav-select { display: inline-block; }

    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .about , .skills, .experiences, .contact{
      margin: 0 20px;
    }

    .about{
      display: grid;
      grid-template-columns: repeat(auto, 2fr);
      gap: 20px;
      grid-auto-rows: minmax(100px, auto);
    
    }
    .hire{
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      margin-top: 50px;
    
    }

    .skills{
      display: grid;
      grid-template-columns: repeat(auto, 2fr);
      gap: 20px;
      grid-auto-rows: minmax(100px, auto);
    
    }

    .experiences{
      display: grid;
      grid-template-columns: repeat(auto, 1fr);
      gap: 50px;
      grid-auto-rows: minmax(50px, auto);
    
    }
    .contact{
      display: grid;
      grid-template-columns: repeat(auto,1fr);
      gap: 20px;
      grid-auto-rows: minmax(50px, auto);
    
    }

    .contact-info > div{
      margin: 35px 0;
    }
   }

   @media only screen 
   and (width: 428px) 
   and (height: 926px) 
   and (-webkit-device-pixel-ratio: 3) { 
    .nav ul     { display: none; }
    .nav .nav-select { display: inline-block; }

    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .about , .skills, .experiences, .contact{
      margin: 0 20px;
    }

    .about{
      display: grid;
      grid-template-columns: repeat(auto, 2fr);
      gap: 20px;
      grid-auto-rows: minmax(100px, auto);
    
    }
    .hire{
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      margin-top: 50px;
    
    }

    .skills{
      display: grid;
      grid-template-columns: repeat(auto, 2fr);
      gap: 20px;
      grid-auto-rows: minmax(100px, auto);
    
    }

    .experiences{
      display: grid;
      grid-template-columns: repeat(auto, 1fr);
      gap: 50px;
      grid-auto-rows: minmax(50px, auto);
    
    }
   }

@media
only screen and (min-width: 992px){
  
  header .container{
    display: flex;
    padding-inline: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .container{
    margin-left: 40px;
  }

  header.container{
    margin: 0 50px 0 20px;
  }


  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nav select{
    display: none;
  }
  
  .nav select{
    margin: 0 auto;
  }

  .about , .skills, .experiences, .contact{
    margin: 0 30px;
  }

  .about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  
  }


  .skills{
    display: grid;
    grid-template-columns: repeat(auto, 2fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  
  }

  .contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    grid-auto-rows: minmax(50px, auto);
  
  }

  .contact-info > div{
    margin: 20px 0;
  }

  .experiences{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(50px, auto)
  }
}

@media 
only screen and (min-width: 1280px)   {
  header .container{
    display: flex;
    padding-inline: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }


  .nav select{
    display: none;
  }
  
  .nav select{
    margin: 0 auto;
  }

  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .about , .skills, .experiences, .contact{
    margin: 0 50px;
  }

  .about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  
  }

  .skills{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  
  }
  .contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    grid-auto-rows: minmax(50px, auto);
  
  }
  .contact-info > div{
    margin: 20px 0;
  }
  .experiences{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(50px, auto)
  }

  
}